@font-face {
    font-family: "TradeGothic Bold";
    src: url(TradeGothic-Bold.ttf)
}

@font-face {
    font-family: "TradeGothic Light";
    src: url(TradeGothic-Light.ttf)
}

@font-face {
    font-family: "TradeGothic";
    src: url(TradeGothic.ttf)
}

body {
    font-family: TradeGothic Light;
    background-color: #eaeaea;
    font-size: 1em;
    color: #7d7d7d;
}

path {
    stroke: none;
    stroke-width: 4;
    fill: none;
}

.x.axis line {
    stroke: lightgrey;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 1.2em;
    font-weight: 700;
    text-anchor: middle;
    list-style-type: none;
    cursor: pointer;
}

.botoes {
    text-anchor: middle;
    height: 35px;
    width: 90px;
    margin: 0;
    cursor: pointer;
}

.tick line {
    stroke: #bbbbbb;
    opacity: .6;
}

.y_axis,
.x_axis {
    font-size: 14px;
    font-weight: 300;
    fill: #bbbbbb;
    font-family: TradeGothic;
}

div.tooltip {
    position: absolute;
    top: -100px;
    text-align: left;
    min-width: 100px;
    max-width: 100%;
    height: auto;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    background: white;
    
}


/* Texto outside */

h1 {
    font-size: 3em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    color: #151515;
    text-align: center;
    text-transform: uppercase;
    font-family: TradeGothic Bold;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
    margin: 20px auto;
    padding: 0;
    text-align: center;
    line-height: 1.2em;
}

h3 {
    font-weight: 500;
    text-align: center;
    color: #7d7d7d;
}

h4 {
    margin: 0;
    display: inline;
    color: #7d7d7d;
}

h5 {
    font-size: 2em;
    color: #7d7d7d;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
}


li {
    padding-top: 10px;
}

.nota {
    font-size: .8em;
    color: #7d7d7d;
    max-width: 150px;
    text-align: left;
    margin: 20px auto;
    padding: 10px;
    background-color: #eaeaea;
    margin: 60px 120px;
    right: 0
}

.claimer {
    font-size: .8em;
    text-align: center;
    max-width: 580px;
    margin: 20px auto;
}

.chart {
    max-width: 900px;
    margin: 0 auto;
    
}

.texto {
    max-width: 700px;
    margin: 0 auto;
}

svg {
    margin: 0 auto;
    position: absolute; 
}

#chart{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
}

#chart > svg {
    width: 100%
}

a {
    border-bottom: #a5e9fc solid 4px;
    color: #151515;
    text-decoration: none;
}

a:hover {
    border-bottom: #a5e9fc solid 4px;
    color: #151515;
    text-decoration: none;
    background-color: #a5e9fc;
}

@media screen and (max-width: 700px) {
    .chart {
        padding: 2%;
    }
    .nota{
        display: none;
    }
    .legend {
    font-size: 1.6em;
    }
    .y_axis,
    .x_axis {
    font-size: 1.1em;
    fill: #bbbbbb;
    }
    
    /*
    .botoes{
        height: 27px;
        width: 55px;
        font-size: .9em;
    }
    .legend {
    font-size: 1em;
    color: inherit;
    } */
}

/*
@media screen and (max-width: 450px) {
    .botoes{
        height: 24px;
        width: 40px;
    }
    .legend {
    font-size: .8em;
    padding-left: 100px
    }
    .fonte{
        font-size: .8em;
    }
    .chart {
    max-width: 900px;
    margin: 0 auto;
    }
    .y_axis,
    .x_axis {
    font-size: 11px;
    fill: #bbbbbb;
}