@font-face {
    font-family: "TradeGothic Bold";
    src: url(TradeGothic-Bold.ttf)
}

@font-face {
    font-family: "TradeGothic Light";
    src: url(TradeGothic-Light.ttf)
}

@font-face {
    font-family: "TradeGothic";
    src: url(TradeGothic.ttf)
}

body {
    font-family: TradeGothic Light;
    background-color: #eaeaea;
    font-size: 1em;
    color: #7d7d7d;
}

path {
    stroke: none;
    stroke-width: 4;
    fill: none;
}

.x.axis line {
    stroke: lightgrey !important;
}

.axis path,
.axis line {
    fill: none !important;
    stroke: none !important;
    shape-rendering: crispEdges !important;
}

.legend {
    font-size: .9em !important;
    font-weight: 700 !important;
    text-anchor: middle !important;
    list-style-type: none !important;
    cursor: pointer !important;
}

.botoes {
    text-anchor: middle;
    height: 25px;
    width: 55px;
    margin: 0;
    cursor: pointer;
}

.tick line {
    stroke: #bbbbbb !important;
    opacity: .6 !important;
}

.y_axis,
.x_axis {
    font-size: 14px !important;
    font-weight: 300 !important;
    fill: #bbbbbb !important;
    font-family: TradeGothic;
    stroke: none !important;
}

button.tooltip {
    position: absolute;
    text-align: left;
    min-width: 100px;
    max-width: 100%;
    height: auto;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    background: rgba(255, 255, 255, .9);
}


/* Texto outside */

h1 {
    font-size: 3em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    color: #151515;
    text-align: center;
    text-transform: uppercase;
    font-family: TradeGothic Bold;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
    margin: 20px auto;
    padding: 0;
    text-align: center;
    line-height: 1.2em;
}

h3 {
    font-weight: 500;
    text-align: center;
    color: #7d7d7d;
}

h4 {
    margin: 0;
    display: inline;
    color: #7d7d7d;
}

h5 {
    font-size: 2em;
    color: #7d7d7d;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
}

li {
    padding-top: 10px;
}

.nota {
    font-size: .8em;
    color: #7d7d7d;
    max-width: 150px;
    text-align: left;
    margin: 20px auto;
    padding: 10px;
    background-color: #eaeaea;
    margin: 60px 120px;
    right: 0
}

.claimer {
    font-size: .8em;
    text-align: center;
    max-width: 580px;
    margin: 20px auto;
}

.chart {
    max-width: 900px;
    margin: 0 auto;
}

.texto {
    max-width: 700px;
    margin: 0 auto;
}

#chart {
    width: 100%;
    height: 70%;
    max-width: 700px;
    min-height: 300px;
    position: absolute;
}

svg {
    position: relative;
    margin: 0 auto;
    display: block;
    left: 17%;
}

.fechar{
    display: block;
}

a {
    border-bottom: #a5e9fc solid 4px;
    color: #151515;
    text-decoration: none;
}

a:hover {
    border-bottom: #a5e9fc solid 4px;
    color: #151515;
    text-decoration: none;
    background-color: #a5e9fc;
}

.fonte {
        position: relative;
        font-size: .8em;
        left: 0;
    }

@media screen and (max-width: 890px) {
    .chart {
        padding: 1%;
    }
    .nota {
        display: none;
    }
    .legend {
        font-size: 1em;
        text-anchor: middle;
    }
    .y_axis,
    .x_axis {
        font-size: 1em !important;
        fill: #bbbbbb !important;
        stroke: #bbbbbb !important;
    }
    button.tooltip {
        position: absolute;
    }
    .botoes {
        height: 27px;
        width: 55px;
        font-size: .9em;
        text-anchor: middle;
    }
    .legend {
        font-size: 1em;
        color: inherit;
    }
    svg {
        position: absolute;
        left: 17%;
    }
    .fonte {
        position: relative;
        font-size: .8em;
        left: 0;
    }
}

@media screen and (max-width: 750px) {
    .chart {
        padding: 1%;
    }
    .legend {
        font-size: .8em;
        text-anchor: middle;
        color: inherit;
    }
    .claimer{
        max-width: 290px;
        font-size: 1.2em;
    }
    .y_axis,
    .x_axis {
        font-size: 1em !important;
        fill: #bbbbbb !important;
        stroke: #bbbbbb !important;
    }
    button.tooltip {
        position: absolute;
    }
    .botoes {
        height: 27px;
        width: 55px;
        font-size: .8em;
        text-anchor: middle;
    }
    svg {
        position: absolute;
        left: 10%;
    }
    .fonte {
        position: relative;
        font-size: .8em;
        left: 0;
    }
}

@media screen and (max-width: 620px) {
    .chart {
        padding: 1%;
    }
    .claimer {
    font-size: .8em;
    text-align: center;
    max-width: 290px;
    margin: 20px auto;
    }
    .legend {
        font-size: .9em;
        text-anchor: middle;
        color: inherit;
    }
    .fonte {
        font-size: .8em;
        position: relative;
        left: 0;
    }
    .desc{
        max-width: 250px;
        font-size: 1.2em;
    }
    .y_axis,
    .x_axis {
        font-size: 1.1em !important;
        fill: #bbbbbb !important;
        stroke: #bbbbbb !important;
    }
    .botoes {
        height: 27px;
        width: 55px;
        font-size: .8em;
        text-anchor: middle;
    }
    svg {
        position: absolute;
        left: 3%;
    }
    .chart {
    padding: 1%;
}
}

@media screen and (max-width: 580px) {
    .botoes {
        height: 24px;
        width: 36px;
        text-anchor: end;
    }
    .desc{
        max-width: 270px;
        font-size: 1.2em;
    }
    .legend {
        font-size: .8em;
        text-anchor: middle;
    }
    .chart {
        max-width: 700px;
        margin: 0 auto;
    }
    .y_axis,
    .x_axis {
        font-size: 13px !important;
        fill: #bbbbbb !important;
        stroke: #bbbbbb !important;
    }
    .fonte {
        position: relative;
        font-size: .8em;
        left: 0;
    }
    svg {
        position: absolute;
        left: 0;
    }
}